Server code/Display image.json
[{"id":"ab5e19f0.092ee8","type":"http response","z":"16349385.1ee7fc","name":"","statusCode":"","headers":{},"x":310,"y":300,"wires":[]},{"id":"fa61e467.ceb5a8","type":"ui_template","z":"16349385.1ee7fc","group":"3e5f63a0.7254cc","name":"Display image","order":1,"width":7,"height":6,"format":"<img width=\"16\" height=\"16\" src=\"data:image/jpeg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":720,"y":240,"wires":[[]]},{"id":"76a6ead.a40c914","type":"http in","z":"16349385.1ee7fc","name":"","url":"IMAGE","method":"post","upload":true,"swaggerDoc":"","x":130,"y":240,"wires":[["ab5e19f0.092ee8","ff501a04.b88c78"]]},{"id":"ff501a04.b88c78","type":"change","z":"16349385.1ee7fc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":240,"wires":[["a3a2bcb7.8dc5b"]]},{"id":"a3a2bcb7.8dc5b","type":"base64","z":"16349385.1ee7fc","name":"Encode","action":"","property":"payload","x":540,"y":240,"wires":[["98ddbd88.c58d1","fa61e467.ceb5a8"]]},{"id":"98ddbd88.c58d1","type":"debug","z":"16349385.1ee7fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"3e5f63a0.7254cc","type":"ui_group","z":"","name":"Última pierna procesada","tab":"62db12ac.0bef9c","order":8,"disp":true,"width":"7","collapse":false},{"id":"62db12ac.0bef9c","type":"ui_tab","z":"","name":"CALIDAD PULPAS CINTA 0","icon":"dashboard"}]