Server code/MQTT_DBS.json
[{"id":"4dde787f.758978","type":"mqtt in","z":"8ded220c.e2fe2","name":"","topic":"AIoT/bird_count","qos":"0","datatype":"auto","broker":"256d199d.4cc4d6","x":160,"y":340,"wires":[["1a831844.fdf198"]]},{"id":"c9261128.43f47","type":"mqtt in","z":"8ded220c.e2fe2","name":"","topic":"AIoT/bird_time","qos":"0","datatype":"auto","broker":"256d199d.4cc4d6","x":160,"y":460,"wires":[["81f9baaa.c42368"]]},{"id":"1a831844.fdf198","type":"function","z":"8ded220c.e2fe2","name":"input","func":"var count = msg.payload;\n\nmsg.topic = \"INSERT INTO bird (count) VALUES ('\" + count + \"' )\";\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["3f84ff3e.05373"]]},{"id":"81f9baaa.c42368","type":"function","z":"8ded220c.e2fe2","name":"input","func":"var time = msg.payload;\n\nmsg.topic = \"INSERT INTO bird (time) VALUES ('\" + time + \"' )\";\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":460,"wires":[["9dfa3e9c.3e041"]]},{"id":"3f84ff3e.05373","type":"mysql","z":"8ded220c.e2fe2","mydb":"72927c9a.6c8b44","name":"","x":510,"y":340,"wires":[["4fd408b7.6bd948"]]},{"id":"9dfa3e9c.3e041","type":"mysql","z":"8ded220c.e2fe2","mydb":"72927c9a.6c8b44","name":"","x":510,"y":460,"wires":[["543fe5be.bc6c8c"]]},{"id":"4fd408b7.6bd948","type":"debug","z":"8ded220c.e2fe2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":340,"wires":[]},{"id":"543fe5be.bc6c8c","type":"debug","z":"8ded220c.e2fe2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":460,"wires":[]},{"id":"256d199d.4cc4d6","type":"mqtt-broker","z":"","name":"","broker":"140.127.196.41","port":"1883","clientid":"AIOT","usetls":false,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"72927c9a.6c8b44","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"sensor","tz":""}]