Server code/MQTT_DBS.json
[{"id":"3f84ff3e.05373","type":"mysql","z":"8ded220c.e2fe2","mydb":"72927c9a.6c8b44","name":"","x":690,"y":160,"wires":[["9a2d2561.b03ec8"]]},{"id":"732fe5d0.99210c","type":"http response","z":"8ded220c.e2fe2","name":"","statusCode":"200","headers":{},"x":280,"y":700,"wires":[]},{"id":"9937eb3f.b69d18","type":"ui_template","z":"8ded220c.e2fe2","group":"3e5f63a0.7254cc","name":"Display image","order":3,"width":7,"height":6,"format":"<img width=\"16\" height=\"16\" src=\"data:image/jpeg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":640,"wires":[[]]},{"id":"6364f513.95b8ac","type":"http in","z":"8ded220c.e2fe2","name":"","url":"IMAGE","method":"post","upload":true,"swaggerDoc":"","x":110,"y":640,"wires":[["732fe5d0.99210c","97a2dedc.4bd8a"]]},{"id":"97a2dedc.4bd8a","type":"change","z":"8ded220c.e2fe2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":640,"wires":[["adac5ab3.266a18"]]},{"id":"adac5ab3.266a18","type":"base64","z":"8ded220c.e2fe2","name":"Encode","action":"","property":"payload","x":480,"y":640,"wires":[["eb4bd33c.4c895","9937eb3f.b69d18"]]},{"id":"eb4bd33c.4c895","type":"debug","z":"8ded220c.e2fe2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":700,"wires":[]},{"id":"998980ec.8c6c4","type":"mqtt in","z":"8ded220c.e2fe2","name":"","topic":"AIoT/bird_messenge","qos":"0","datatype":"auto","broker":"256d199d.4cc4d6","x":130,"y":160,"wires":[["85b1432f.f85de"]]},{"id":"85b1432f.f85de","type":"json","z":"8ded220c.e2fe2","name":"Convert to Json","property":"payload","action":"","pretty":false,"x":340,"y":160,"wires":[["e3229495.bca328"]]},{"id":"e3229495.bca328","type":"function","z":"8ded220c.e2fe2","name":"input SQL","func":"var time = msg.payload.time;\nvar count = msg.payload.count;\nvar day = msg.payload.day;\nmsg.topic = \"INSERT INTO bird (day,time,count) VALUES ('\"+ day +\"','\" + time + \"' , '\" + count + \"')\";\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":160,"wires":[["3f84ff3e.05373"]]},{"id":"6a20367a.efc2a8","type":"mysql","z":"8ded220c.e2fe2","mydb":"72927c9a.6c8b44","name":"My SQL","x":900,"y":320,"wires":[["a3c3201.1734ee"]]},{"id":"dbb9da72.cd98d8","type":"function","z":"8ded220c.e2fe2","name":"select from DBS & create chart x axis","func":"var time = msg.payload.time;\nvar count = msg.payload.count;\nvar day = msg.payload.day;\n\nvar startday = flow.get('startday');\nvar endday = flow.get('endday');\nvar label = flow.get('label');\n\n\nlabel = []\n\nvar size = parseInt(endday.substring(8,10))-parseInt(startday.substring(8,10)) + 1;\n\n\nfor(var i=0 ; i<size ; i++){                            //select data of two day and save it to label\n    label[i] = startday;\n    \n    var daycount = parseInt(startday.substring(8,10))+1;\n    \n    if(daycount < 10){\n        startday = startday.substring(0,8)+\"0\"+String(daycount);\n    }\n    else {\n        startday = startday.substring(0,8)+String(daycount);\n    }\n}\n\nmsg.topic = \"SELECT day,count FROM bird\";\n\nflow.set('label', label);\n\nmsg.payload = label;\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["6a20367a.efc2a8"]]},{"id":"a3c3201.1734ee","type":"function","z":"8ded220c.e2fe2","name":"Data filter","func":"var startday = flow.get('startday');\nvar endday = flow.get('endday');\nvar label = flow.get('label');\nvar count_arr = flow.get('count_arr');\n\ncount = 0;\ncount_arr = []\n\nstartday = startday.split('');\n\n//msg.payload = label[0].split('')\n//msg.payload = startday;\n\nfor(var x=0 ; x<label.length ; x++){\n    \n    for(var i=0 ; i<msg.payload.length ; i++){\n        \n        var output = msg.payload[i].day.split('');\n        \n        var temp = label[x].split('')\n        \n        var record = 0;\n        \n        for(var j=0 ; j<10 ; j++){\n            \n            if(temp[j] == output[j]){\n                record += 1;\n            }\n        }\n        if(record == 10){\n            if(msg.payload[i].count !== \"undefined\")    //DBS exception\n                count += parseInt(msg.payload[i].count);\n        }\n    }\n    count_arr[x]=count;\n    count=0;\n}\n\nflow.set('count_arr', count_arr);\n\nmsg.payload = count_arr;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1040,"y":320,"wires":[["ad4a9c75.5791d"]]},{"id":"99850f99.69fbf","type":"function","z":"8ded220c.e2fe2","name":"Select StartDay","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar Month = d.getMonth();\nvar monthformat = Month+1;\nvar year = d.getFullYear();\n\nvar startday = flow.get('startday');\n\nday2int = parseInt(day);\nmonth2int = parseInt(monthformat);\n\n\nif (day2int<10)\n    day='0'+day;\n    \nif (month2int<10)\n    monthformat='0'+monthformat;\n    \nmsg.payload = year+\"/\"+ monthformat+\"/\"+day;\n    \n    \nflow.set('startday', msg.payload);\n    \nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":320,"wires":[["29b81947.3aacb6"]]},{"id":"fc73280f.f77178","type":"ui_date_picker","z":"8ded220c.e2fe2","name":"","label":"Start","group":"dbe2e40b.4b66c8","order":2,"width":"2","height":"1","passthru":true,"topic":"","x":90,"y":320,"wires":[["99850f99.69fbf"]]},{"id":"a3d6b8f7.b35228","type":"ui_chart","z":"8ded220c.e2fe2","name":"chart","group":"dbe2e40b.4b66c8","order":5,"width":0,"height":0,"label":"","chartType":"bar","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1130,"y":380,"wires":[[]]},{"id":"ad4a9c75.5791d","type":"function","z":"8ded220c.e2fe2","name":"Setup chart payload","func":"var label = flow.get('label');\nvar count_arr = flow.get('count_arr');\nvar data = []\n\nvar series = [];\nvar labels = [];\n//data = [[4,15,1000]];\n\n\nfor(var i=0 ; i<label.length ; i++){\n    labels[i] = [label[i]]\n}\n//labels.push(label);\n\nfor(var j=0 ; j<count_arr.length ; j++){\n    count_arr[j] = parseInt(count_arr[j]);\n}\ndata.push(count_arr);\n\n\n\n//labels = [[\"11/4\"],[\"11/5\"],[\"11/6\"]];\n\nmsg.payload = [{\"series\":series, \"data\":data,\"labels\": labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":380,"wires":[["a3d6b8f7.b35228"]]},{"id":"fdb43a22.dd5458","type":"ui_date_picker","z":"8ded220c.e2fe2","name":"","label":"End","group":"dbe2e40b.4b66c8","order":3,"width":"2","height":"1","passthru":true,"topic":"","x":90,"y":380,"wires":[["753e0dc8.1b9e64"]]},{"id":"753e0dc8.1b9e64","type":"function","z":"8ded220c.e2fe2","name":"Select EndDay","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar Month = d.getMonth();\nvar monthformat = Month+1;\nvar year = d.getFullYear();\n\nvar endday = flow.get('endday');\n\nday2int = parseInt(day);\nmonth2int = parseInt(monthformat);\n\n\nif (day2int<10)\n    day='0'+day;\n    \nif (month2int<10)\n    monthformat='0'+monthformat;\n    \nmsg.payload = year+\"/\"+ monthformat+\"/\"+day;\n    \n    \nflow.set('endday', msg.payload);\n    \nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":380,"wires":[["29b81947.3aacb6"]]},{"id":"8f622ce2.2ba24","type":"ui_text","z":"8ded220c.e2fe2","group":"dbe2e40b.4b66c8","order":1,"width":"2","height":"1","name":"","label":"Select you want day","format":"","layout":"row-left","x":320,"y":260,"wires":[]},{"id":"6c8e1742.b902e8","type":"inject","z":"8ded220c.e2fe2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":260,"wires":[["8f622ce2.2ba24"]]},{"id":"29b81947.3aacb6","type":"ui_button","z":"8ded220c.e2fe2","name":"","group":"dbe2e40b.4b66c8","order":4,"width":"1","height":"1","passthru":false,"label":"Send","tooltip":"","color":"black","bgcolor":"lightskyblue","icon":"","payload":"","payloadType":"str","topic":"","x":450,"y":320,"wires":[["dbb9da72.cd98d8"]]},{"id":"9a2d2561.b03ec8","type":"debug","z":"8ded220c.e2fe2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":160,"wires":[]},{"id":"821c9c86.59f61","type":"ui_date_picker","z":"8ded220c.e2fe2","name":"","label":"","group":"22cd38be.6aa2c8","order":2,"width":"2","height":"1","passthru":true,"topic":"","x":110,"y":500,"wires":[["49d2d5e0.a55b8c"]]},{"id":"4658ccbb.7d9724","type":"inject","z":"8ded220c.e2fe2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":440,"wires":[["17facd38.2ad603"]]},{"id":"17facd38.2ad603","type":"ui_text","z":"8ded220c.e2fe2","group":"22cd38be.6aa2c8","order":1,"width":"2","height":"1","name":"","label":"Select you want day","format":"","layout":"row-left","x":320,"y":440,"wires":[]},{"id":"49d2d5e0.a55b8c","type":"function","z":"8ded220c.e2fe2","name":"Select OneDay","func":"var d = new Date(msg.payload);\nvar day = d.getDate();\nvar Month = d.getMonth();\nvar monthformat = Month+1;\nvar year = d.getFullYear();\n\nvar today = flow.get('today');\n\nday2int = parseInt(day);\nmonth2int = parseInt(monthformat);\n\nif (day2int<10)\n    day='0'+day;\n    \nif (month2int<10)\n    monthformat='0'+monthformat;\n    \nmsg.payload = year+\"/\"+ monthformat+\"/\"+day;\n    \n    \nflow.set('today', msg.payload);\n    \nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":500,"wires":[["f54897b.ab78b68"]]},{"id":"f54897b.ab78b68","type":"ui_button","z":"8ded220c.e2fe2","name":"","group":"22cd38be.6aa2c8","order":3,"width":"1","height":"1","passthru":false,"label":"Send","tooltip":"","color":"black","bgcolor":"lightskyblue","icon":"","payload":"","payloadType":"str","topic":"","x":450,"y":500,"wires":[["36b52b12.dcb504"]]},{"id":"36b52b12.dcb504","type":"function","z":"8ded220c.e2fe2","name":"select SQL","func":"msg.topic = \"SELECT day, time, count FROM bird\";\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":500,"wires":[["713bb2f4.52c76c"]]},{"id":"713bb2f4.52c76c","type":"mysql","z":"8ded220c.e2fe2","mydb":"72927c9a.6c8b44","name":"My SQL","x":740,"y":500,"wires":[["fec08f94.87c"]]},{"id":"fec08f94.87c","type":"function","z":"8ded220c.e2fe2","name":"Data filter","func":"var today = flow.get('today');\nvar count_arr = flow.get('count_arr');\nvar hour_arr = flow.get('hour_arr');\n\nhour_arr = []\ncount_arr = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n\nvar comp_hour = [];\n\nfor(var j=0 ; j<24 ; j++){          //24 hours\n    \n    if(j < 10)\n        hour_arr[j] = '0' + String(j);\n    else\n        hour_arr[j] = String(j)\n}\n\n\nfor(var i=0 ; i<msg.payload.length ; i++){\n    \n    comp_hour[i] = msg.payload[i].time.substring(0,2);\n    \n    if(today == msg.payload[i].day && msg.payload[i].count !== \"undefined\"){\n        \n        for(var k=0 ; k<24 ; k++){\n            if(hour_arr[k] == comp_hour[i]){\n                count_arr[k] += parseInt(msg.payload[i].count);\n            }\n        }\n    }\n}\n\nflow.set('hour_arr', hour_arr);\nflow.set('count_arr', count_arr);\n\nmsg.payload = hour_arr;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":900,"y":500,"wires":[["a44280d1.bf8fa","dca9e87a.b7f7f8"]]},{"id":"a44280d1.bf8fa","type":"function","z":"8ded220c.e2fe2","name":"Setup chart payload","func":"var count_arr = flow.get('count_arr');\nvar data = []\n\nvar series = [];\nvar labels = [];\nvar x_axis = [];\n\nfor(var i=0 ; i<24 ; i++){  //create chart x axis\n    x_axis[i] = String(i) + '-' + String(i+1)\n    labels[i] = [x_axis[i]]\n}\n\nfor(var j=0 ; j<count_arr.length ; j++){\n    count_arr[j] = parseInt(count_arr[j]);\n}\ndata.push(count_arr);\n\nmsg.payload = [{\"series\":series, \"data\":data,\"labels\": labels}];\n\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":560,"wires":[["cabf491e.7afb98"]]},{"id":"cabf491e.7afb98","type":"ui_chart","z":"8ded220c.e2fe2","name":"","group":"22cd38be.6aa2c8","order":4,"width":0,"height":0,"label":"","chartType":"bar","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1130,"y":560,"wires":[[]]},{"id":"dca9e87a.b7f7f8","type":"debug","z":"8ded220c.e2fe2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":460,"wires":[]},{"id":"72927c9a.6c8b44","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"aiot","tz":""},{"id":"3e5f63a0.7254cc","type":"ui_group","z":"","name":"","tab":"62db12ac.0bef9c","order":8,"disp":true,"width":"7","collapse":false},{"id":"256d199d.4cc4d6","type":"mqtt-broker","z":"","name":"","broker":"140.127.196.41","port":"18883","clientid":"AIOT","usetls":false,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dbe2e40b.4b66c8","type":"ui_group","z":"","name":"","tab":"a269ecfc.e98da","order":1,"disp":true,"width":"8","collapse":false},{"id":"22cd38be.6aa2c8","type":"ui_group","z":"","name":"","tab":"26fde356.1b689c","order":1,"disp":true,"width":"6","collapse":false},{"id":"62db12ac.0bef9c","type":"ui_tab","z":"","name":"Capture images","icon":"dashboard","disabled":false,"hidden":false},{"id":"a269ecfc.e98da","type":"ui_tab","z":"","name":" Number of birds per day","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"26fde356.1b689c","type":"ui_tab","z":"","name":" Number of birds per hour","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
